#detailPanel pre {
   background-color: ghostwhite;
   border: 1px solid silver;
   padding: 10px 20px;
   margin: 20px; 
}
#detailPanel .json-key {
   color: brown;
}
#detailPanel .json-value {
   color: navy;
}
#detailPanel .json-string {
   color: olive;
}
