
.x-window-body, .x-panel-body {
    background: #f5f5f5;
}

.osc-status-valid {
    background-image: url(../images/icons/fam/accept.png) !important;
    padding-left: 25px !important;
    background: transparent no-repeat 3px 0;
}

/**
 * text cls
 */
.osc-bold {
    font-weight: bold;
}
.osc-h3 {
	margin: 15px 0px 5px 14px;
	font-weight: bold;
}
.osc-panel-tip {
	color: #CC2EFA;
}

/**
 * icons cls
 */
.icon-grid {
    background-image:url(../images/icons/fam/grid.png) !important;
}
.add {
    background-image:url(../images/icons/fam/add.gif) !important;
}
.icon-list1 {
    background-image:url(../images/icons/fam/application_view_list.png);
}
.icon-list2 {
    background-image:url(../images/icons/fam/grid.png);
}
.icon-user {
    background-image:url(../images/icons/fam/user.png);
}
.icon-delete {
	background-image:url(../images/icons/fam/delete.gif);
}

/*
 * menu css
 */
.osc-menu .x-tree-node-text, .osc-menu .x-accordion-hd {
    cursor: pointer;
}
