<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true">
	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n
			</pattern>
		</encoder>
	</appender>

	<logger name="org.springframework" level="INFO"/>
	<logger name="org.springframework.web" level="DEBUG"/>
	<logger name="org.springframework.web.websocket" level="DEBUG"/>
	<logger name="org.springframework.web.context.support.StandardServletEnvironment" level="INFO"/>
	<logger name="org.springframework.web.servlet.handler.BeanNameUrlHandlerMapping" level="INFO"/>
	<logger name="org.springframework.security" level="DEBUG"/>

	<logger name="org.mybatis" level="INFO" />

	<logger name="java.sql.Connection" level="DEBUG" />
	<logger name="java.sql.PreparedStatement" level="DEBUG" />
	<logger name="java.sql.ResultSet" level="DEBUG" />

	<logger name="com.athena.dolly.controller" level="DEBUG"/>

	<root level="DEBUG">
	    <appender-ref ref="CONSOLE" />
	</root>
</configuration>