<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true">
	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<pattern>%d [%thread] %-5level %-35logger{30} - %msg%n</pattern>
		</encoder>
	</appender>
	<appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>G:\project\AthenaMeerkat\meerkat.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>G:\project\AthenaMeerkat\meerkat.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>50MB</maxFileSize>
			    <maxHistory>30</maxHistory>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>

		<encoder>
			<pattern>%d [%thread] %X{serverIp} # %msg%n</pattern>
		</encoder>
	</appender>
	<appender name="PROVI_LOG" class="ch.qos.logback.classic.sift.SiftingAppender">
	    <discriminator>
	      <key>jobPath</key>
	      <defaultValue>unknown</defaultValue>
	    </discriminator>
	    <sift>
	      <appender name="FILE-${jobPath}" class="ch.qos.logback.core.FileAppender">
	        <file>${jobPath}/build.log</file>
	        <append>false</append>
	        <layout class="ch.qos.logback.classic.PatternLayout">
	          <pattern>%d [%thread] %X{serverIp} # %msg%n</pattern>
	        </layout>
	      </appender>
	    </sift>
	  </appender>

	<logger name="com.athena" level="DEBUG"/>
	<logger name="com.athena.meerkat.controller.web.provisioning" level="DEBUG">
		<appender-ref ref="PROVI_LOG" />
	</logger>

	<logger name="org.springframework" level="ERROR"/>
	<logger name="org.springframework.web" level="DEBUG"/>
	<logger name="org.springframework.web.websocket" level="DEBUG"/>
	<logger name="org.springframework.web.context.support.StandardServletEnvironment" level="INFO"/>
	<logger name="org.springframework.web.servlet.handler.BeanNameUrlHandlerMapping" level="INFO"/>
	<logger name="org.springframework.security" level="DEBUG"/>

	<logger name="org.hibernate" level="ERROR" />
	<logger name="org.hibernate.SQL" level="DEBUG" /> <!-- sql log -->
	<logger name="org.hibernate.type" level="WARN" /> <!-- parameters & result -->
    <logger name="org.hibernate.type.CollectionType" level="TRACE" /> <!-- parameters & result -->
    <logger name="org.hibernate.type.BasicTypeRegistry" level="WARN" />
	<logger name="org.hibernate.engine.transaction" level="DEBUG" />
	<logger name="org.hibernate.internal.util.EntityPrinter" level="DEBUG" />
	
	<logger name="org.apache.tomcat.jdbc.pool" level="DEBUG" />
	<logger name="org.apache.tomcat.websocket" level="DEBUG" />

	<!-- 
	<logger name="java.sql.Connection" level="DEBUG" />
	<logger name="java.sql.PreparedStatement" level="DEBUG" />
	<logger name="java.sql.ResultSet" level="DEBUG" />
	 -->
	

	<root level="ERROR">
	    <appender-ref ref="CONSOLE" />
	</root>
</configuration>